/* styles.css or your preferred stylesheet */
.addads-custom-container {
  position: absolute !important;
  inset-block-end: 0;
  background: grey;
  margin-block-start: 1rem;
  isolation: isolate;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  outline: none;
  border: 0px solid;
  width: 100%;
  border-radius: 12px 12px 0 0;
}

.addads-custom-container:before {
  content: "";
  position: absolute;
  inset-block-start: -4px;
  inset-inline-start: 0;
  height: 100%;
  border-start-start-radius: 16px;
  border-start-end-radius: 16px;
  border: 4px solid #b0ebda;
  transition: all 300ms ease-in-out 0s;
  width: 100%;
  border-inline: 0 none;
  border-block-end: 0 none;
  z-index: -2;
}

.addads-custom-container:after {
  content: "";
  position: absolute;
  inset-block-start: -4px;
  inset-inline-start: 0;
  height: 100%;
  width: 50%; /* Change this to the desired dynamic width */
  border-start-start-radius: 16px;
  transition: all 400ms ease-in-out 0s;
  z-index: -1;
  border: 4px solid var(--green-color);
  border-end-end-radius: 16px;
  border-inline: 0 none;
  border-block-end: 0 none;
}
.custom-inner-element {
  width: 100%;
  padding: 17px 0;
  background: rgb(255, 255, 255);
  border-radius: 12px 12px 0 0;
  display: grid;
  place-content: center;
}
.custom-flex-reverse-container {
  display: flex;
  flex-wrap: wrap-reverse;

  justify-content: center;
}
.button-prev {
  font-weight: 600 !important;
  height: 48px !important;
  width: 160px !important;
  background: rgb(255, 255, 255) !important;
  border-radius: 12px !important;
}
.button-next {
  font-weight: 600 !important;
  height: 48px !important;
  width: 160px !important;
  background: var(--green-color) !important;
  color: white !important;
  border-radius: 12px !important;
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
}
.button-next:hover {
  background: var(--green-color) !important;
}
.button-last {
  font-weight: 600 !important;
  height: 48px !important;
  width: 160px !important;
  background: var(--green-color) !important;
  color: white !important;
  border-radius: 12px !important;
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
}
.button-last:hover {
  background: var(--green-color) !important;
}
.imgAddADsContainer {
  background-color: rgb(162, 12, 12);
  height: calc(100vh - 125px);
  position: fixed;
  right: 0;
  top: 0;
  width: 33%;
  .imgAddAds {
    width: 300px;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.addads-continer-box1 {
  position: relative;
  margin-inline: auto;
  max-width: 550px;
}
.addads-continer-box2 {
  padding-block: 16px 112px;
  border: 1px solid rgb(220, 220, 220);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
}
.unitTiltle {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  color: white;
}
.unitTiltle2 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  color: white;
}
.UnitDetailsContainer {
  .UnitDetailsTitle {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: baseline;
  }
}
.unitNameBox {
  width: 100%;
  .unitName {
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .unitInput {
    width: 100%;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    padding: 10px;
    border-radius: 10px;
  }
}
input {
  outline: none;
}
.d-flex {
  display: flex;
  align-items: center;
}
.NumberBox {
  justify-content: space-around;
  margin-bottom: 1rem;
  margin-top: 1rem;
  .labelNumber {
    font-weight: bold;
  }
  .NumberBoxInput {
    .NumberInput {
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      padding: 10px;
      border-radius: 10px;
      width: 5rem;
      text-align: center;
      margin-right: 10px;
      margin-left: 10px;
    }
    .btnStyle {
      font-size: 1.5rem;
      font-weight: 500;
      color: var(--green-color);
    }
  }
}
.gary-color {
  color: gray;
  display: flex;
  font-size: 16px !important;
  font-weight: 500;
  margin-right: 15px;
}
[lang="en"] .gary-color {
  margin-right: 0px;
  margin-left: 15px;
}
.spanSquare {
  margin-right: 15px;
}
[lang="en"] .spanSquare {
  margin-right: initial;
  margin-left: 15px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
.CheckedBoxContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  .priceTitle {
    display: flex;
    align-items: center;
    font-weight: 600;
    width: 2rem;
  }
  .priceInput {
    width: 8rem;
    text-align: center;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    padding: 10px;
    border-radius: 10px;
  }
}

.raabon {
  position: relative;
  width: 220px;
}
.span1 {
  position: absolute;
  left: 0px;
  bottom: 0;
  justify-content: center;
  text-align: center;
  font-weight: 800;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* border-radius: 5px; */
  display: flex;
  align-items: stretch;
}
.span1 span {
  padding: 5px;
  overflow: hidden;
  display: flex;
  width: 40px;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
.span1 span:last-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
