.d_flex {
  display: flex;
  .calender {
    background-color: rgb(240, 242, 250);
    width: 25%;
    padding: 20px;
    height: calc(-80px + 100vh);
    z-index: 1;
    overflow-y: scroll;
    overflow-x: visible;
    /* position: fixed; */
    .insideCalender {
      width: 80%;

      margin: auto;
      .selectTimeBox {
        padding-top: 40px;
      }
    }
  }
  .transaction {
    width: 75%;
    padding: 40px 20px;
  }
}
.titleSelectPeriod {
  font-weight: 500;
  font-size: 1.25rem;
  width: max-content;
  margin-bottom: 1rem;
}
.selecttimebtn {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.16);
  background-color: rgb(255, 255, 255);
  width: 100%;
  min-height: 48px;
  -moz-box-align: center;
  align-items: center;
  padding: 0.25vw;
  border-radius: 12px;
  cursor: pointer;
  font: inherit;
  container: wrapper / inline-size;
  flex-direction: column;
  overflow: hidden;
  .imgcalender {
    margin: auto;
  }
  .inputstyle {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    outline: none;
  }
}
.searchBoxCalender {
  transition: all 100ms ease-in-out 0s;
  display: flex;
  position: relative;
  border-radius: 12px !important;
  padding: 8px 0.8rem;
  outline: rgba(118, 118, 158, 0.05) solid 0.25px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  background-color: white;
  overflow: hidden;
  .inputStyle {
    outline: none;
    margin-right: 10px;
    margin-left: 10px;
    width: 100%;
  }
}
.transictionPaper {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  .transictionDiv {
    width: 45%;
  }
}
.transactionPayment {
  width: 55%;
}
.d_flex_spaceBetween {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 12px;

  .font_gray {
    color: gray;
  }
  .font_bold {
    font-weight: 600;
  }
}
.color_Green {
  color: var(--green-color);
  font-size: 25px;
}
.calenderSelect {
  color: var(--green-color);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #f6f6f6;
}
.paperSatement {
  width: 100%;
  padding: 20px;
}
.serach-bills-container {
  position: relative;
  width: 40%;
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 30px;
  padding: 5px 20px;
  .p1 {
    font-weight: 600;
  }
}
.paperTotalPrice {
  position: fixed;
  width: 100%;
  bottom: 0px;
  display: flex;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;

  /* justify-content: space-around; */
  padding: 2rem;
  align-items: center;
}
.PaymentReceiptionPaper {
  width: 720px;
  padding: 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 12px !important;
  .d_flex {
    display: flex;
    width: 100%;
    -moz-box-pack: justify;
    justify-content: space-between;

    .addBtn {
      background-color: var(--green-color);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
        rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
      width: 106px;
      height: 44px;
      border-radius: 12px;
      color: white;
    }
  }
  .span1 {
    margin-top: 24px;
    margin-bottom: 20px;
    font-weight: 500;
  }
}
.wayCash {
  font-size: 20px;
  font-weight: 600;
}
.sideBoxCash {
  width: 350px;
  display: flex;
  flex-direction: column;
  background: rgb(254, 254, 254);
  position: absolute;
  height: 100vh;
  overflow: auto;
  inset-block-start: 0px;
  inset-inline-end: 0px;
  padding: 66px 24px;
  z-index: 10000000000000000000;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* adjust the z-index as needed */
}
.P_chooseWay {
  font-weight: 600;
  margin-block: 2rem 16px;
}
.imgStcPay {
  margin-right: 10px;
}
[lang="en"] .imgStcPay {
  margin-right: auto;
  margin-left: 10px;
}
.olStc {
  .liStc {
    margin-block-end: 1rem;
    list-style: none;
    font-weight: 500;
    position: relative;
    margin-right: 30px;
    .num {
      position: absolute;
      top: 0;
      right: -35px;
      display: inline-grid;
      place-content: center;
      width: 28px;
      color: white;
      border-radius: 100px;
      background-color: rgb(175, 175, 175);
      height: 28px;
    }
  }
}
.divPhoneNumberBox {
  margin-bottom: 1rem;
  position: relative;
  border-radius: 12px !important;
  padding: 8px 0.8rem;
  outline: rgba(118, 118, 158, 0.05) solid 0.25px;
  flex-basis: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  .phoneNumber {
    width: 85%;
    text-align: left;
    padding: 0px 10px;
    outline: none;
  }
  .spanPhoneNumber {
    font-weight: bold;
  }
}
.activePhoneNumber {
  border-radius: 12px;
  font-weight: 600;
  padding: 5px 15px;
  text-align: center;
  height: 48px;
  pointer-events: unset;
  width: 160px;
  text-transform: uppercase;
  min-width: 64px;
  color: white !important;
  box-shadow: none;
  background-color: var(--green-color) !important;
  margin: auto;
  margin-top: auto;
  display: block;
  margin-top: 1rem;
}
.disabled {
  color: rgba(0, 0, 0, 0.26) !important;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12) !important;
}
.bankSelect {
  .bankTitle {
    font-weight: 500;
  }
}
.BankSelect {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.3rem;
  border-radius: 12px;
  font-weight: 500;
  font-size: 0.9rem;
  height: 48px;
  width: 100%;
  padding-block: 0px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px;
  margin-block-start: 0.5rem;
  padding-inline: 1rem;
  background-color: white;
  display: block;
  color: gray;
}
.inputFiled {
  transition: all 100ms ease-in-out 0s;
  position: relative;
  border-radius: 12px !important;
  padding: 8px 0.8rem;
  outline: rgba(118, 118, 158, 0.05) solid 0.25px;
  flex-basis: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  width: 100%;
}
.bankSubmit {
  background-color: var(--green-color) !important;
  color: white;
  display: block;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 48px;
  padding: 5px 15px;
  border-radius: 12px;
  font-weight: 600;
  width: 160px;
}
.spanfrom {
  font-weight: 600;
  margin-left: 10px;
  color: gray;
}
[lang="en"] .spanfrom {
  margin-left: 0px;
  margin-right: 10px;
}
input {
  outline: none !important;
}
@media screen and (min-width: 300px) and (max-width: 900px) {
  .d_flex {
    .calender {
      width: 70% !important;
      overflow-x: visible !important;
    }
  }
  .transictionPaper {
    flex-direction: column;
    .transictionDiv {
      width: 100%;
    }
  }
  .transactionPayment {
    width: 100%;
  }
  .color_Green {
    font-size: 18px;
  }
  .PaymentReceiptionPaper {
    width: 100% !important;
  }
}
