.barPurple {
  height: 5px;
  width: 100px;
  background: #eee;
  margin: 20px 0 25px;
  position: relative;
  border-radius: 30px;
  display: inline-block;
}

@keyframes MOVE-BG {
  0% {
    left: 0;
  }

  100% {
    left: 100px;
  }
}

.barPurple::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ababab;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: MOVE-BG;
}
.styleinput {
  border: 1px solid #ddd;
  border-radius: 40px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
  align-items: center;
  width: 100%;
  position: relative;
  height: 3.5rem;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 18px;
}
.textareae {
  border: 1px solid #ddd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
  align-items: center;
  width: 100%;
  position: relative;
  height: 12rem;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 10px;
}
.imgContainerAbor {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 680px;
  margin-top: 2rem;
  position: relative;
  /* margin-bottom: 2rem; */
}
.imgStyle {
  height: 100%;
  width: 50%;
  object-fit: cover;
}
.divImgContent {
  /* position: absolute; */
  width: 50%;
  /* background: linear-gradient(25deg, rgb(150, 45, 45), rgb(149, 17, 17)); */
  background-image: url("../images/bg.jpg");
  margin-left: 5px;
  color: white;
  padding-top: 12rem;
  padding-right: 6rem;
}
[lang="en"] .divImgContent {
  padding-right: 0;
  padding-left: 6rem;
}
.maktabParagraph {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 40px;
}
.addoffice {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.registerofficeBtn {
  background-color: #fed106;
  color: black;
  box-shadow: none;
  padding: 12px 47px;
  font-weight: 700;
  border-radius: 100px;
  font-size: 1rem;
  height: 48px;
  width: max-content;
}
.pExplain {
  line-height: 30px;
}
.headingStyle {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 2.225rem !important;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .imgContainerAbor {
    flex-direction: column !important;
  }
  .addoffice {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .divImgContent {
    width: 100% !important;
    padding-top: 4rem;
    padding-right: 0rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .imgStyle {
    width: 100% !important;
  }
  .headingStyle {
    font-size: 1.5rem !important;
  }
  .registerofficeBtn {
    font-size: 12px;
    margin: auto;
  }
}
