.languagePaperBox {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px;
  position: absolute;
  /* min-height: 16px; */
  width: 8rem !important;
  /* max-height: calc(100% - 32px); */
  outline: 0px;
  left: 0px;
  top: 60px;
  overflow: visible;
  filter: drop-shadow(rgba(0, 0, 0, 0.32) 0px 2px 8px);
  margin-top: 12px;
  padding: 10px !important;
  cursor: pointer;
  border-radius: 10px !important;
  text-align: left;
  display: flex !important;
  flex-direction: row !important;
  justify-content: end !important;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 14px;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    transform: translateY(-50%) rotate(45deg);
    z-index: 0;
  }
}
.imgFlag {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}
[lang="en"] .imgFlag {
  margin-right: 0px !important;
  margin-left: 10px !important;
}
[lang="en"] .languagePaperBox {
  text-align: right;
  left: initial;
  right: 0px !important;

  &::before {
    right: 14px !important;
    left: initial;
  }
}
