.topNavContainer {
  /* position: sticky;
  top: 0;
  right: 0; */
  width: 100%;
  height: 80px;
  contain-intrinsic-height: 80px;
  z-index: 10;
  contain: size style layout;
  will-change: height;
  background: white;
  border-bottom: 1px solid #eae8e8;
}
.topNavContainerBox {
  padding-right: 24px;
  padding-left: 24px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
}
.logoBox {
  display: flex;
  align-items: center;
  flex: 1 0 140px;
  .logo {
    width: 150px;
  }
}
.searchBox {
  text-align: center;
  padding: 0 24px;
  flex: 0 1 auto;
  min-width: 348px;
  .searchBoxBorder {
    width: 100%;
    text-align: right;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 40px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
    padding-inline: 7px;
    /* transition: box-shadow 0.2s var(--itr-yy-z); */
    .span1 {
      width: 100%;
      display: inline-flex;
      align-items: center;
      .input1 {
        width: 100%;
        outline: none !important;
        background-color: transparent;
      }
      input:focus {
        outline: none;
      }
      /* .anywhere {
        padding: 0px 10px;
        min-width: 80px;
        user-select: auto;
        outline: none;
        align-items: center;
        display: flex;
        flex: 0 1 auto;
        height: 48px;
        min-width: 0;
        position: relative;
        z-index: 1;
        .anywhereBox {
          font-size: 0.875;
          line-height: 22px;
          font-weight: 500;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          flex: 1 1 auto;
          min-width: var(80px, 0);
        }
      } */
    }
    .anyWeek {
      background: transparent;
      cursor: pointer;
      padding: 0;
      text-align: inherit;
      border: 1px solid transparent;
      border-radius: 4px;
      margin: -1px;
      .anyWeekBox {
        font-size: 1rem;
        font-weight: 500;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        flex: 1 1 auto;
        min-width: 80px;
        text-align: center;
      }
    }
  }
}
.divider {
  flex: 0 0 1px;
  height: 24px;
  width: 1px;
  background-color: #ddd;
}
.loginBox {
  flex: 1 0 140px;
}
.addvistor {
  background: transparent;
  cursor: pointer;
  padding: 0;
  text-align: inherit;
  border: 1px solid transparent;
  border-radius: 4px;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  margin: -1px;
  display: flex;
  align-items: center;
  .addvistorText {
    color: #717171;
    font-weight: 400;
    font-size: 0.875rem;
    padding: 0px 10px;
    outline: none !important;
  }
}
.searchIcon {
  margin: 7px 0 7px 0px;
  border-radius: 50%;
  padding: 10px;
  height: 35px;
  width: 35px;
  background-color: var(--main-color);
}
.profileSection {
  -moz-box-pack: end !important;
  -moz-box-align: center !important;
  position: relative !important;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
  height: 80px !important;
  .displayoffice {
    -moz-box-pack: end !important;
    display: flex !important;
    flex: 1 1 auto !important;
    justify-content: flex-end !important;
    margin-left: 8px !important;
    margin-right: 8px !important;
    align-items: center;
  }
}
.displayOfficespan {
  font-size: 0.875rem;
  font-weight: 500;
}
.profileBox {
  display: inline !important;
  position: relative !important;
  .btn_profile {
    border: 1px solid #ddd;
    border-radius: 21px;
    padding: 5px 12px;
  }
}
.topSmallNavContainer {
  display: none !important;
  padding: 14px 24px 0 24px;
  display: flex;
  align-items: center;
  background-color: white;
}
.smallBoxBorder {
  background: white;
  border: 0.5px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, 0, 0);
  border-radius: 1000px;
  min-width: calc(100% - 50px);
  display: flex;
  min-height: 56px;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
  padding: 0px 20px;
  .span1 {
    width: 90%;
  }
}
.btnSelectSmall {
  moz-box-align: center !important;
  cursor: pointer !important;
  position: relative !important;
  touch-action: manipulation !important;
  font-family: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
  font-weight: inherit !important;
  border-radius: 0px !important;
  outline: none !important;
  transition: none 0s ease 0s !important;
  background: transparent !important;
  border: medium !important;
  color: inherit !important;
  display: flex !important;
  margin: 0px !important;
  padding: 0px !important;
  text-align: inherit !important;
  text-decoration: none !important;
  height: 100% !important;
  width: 100% !important;
  align-items: center !important;
  min-width: 0px !important;
  user-select: none !important;
}
.imgSearch {
  margin-left: 17px;
  margin-right: 5px;
  width: 20px;
}
.BoxFlexCol {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  .span1 {
    font-size: 14px;
    font-weight: 500;
  }
  .span2 {
    color: #717171;
    font-size: 12px;
  }
}
.FilterBtnSmall {
  height: 40px !important;
  width: 40px !important;
  position: relative !important;
  border-radius: 25px !important;
  margin: 0 10px !important;
  border: 1px solid #b0b0b0 !important;
  min-width: 40px !important;
  img {
    width: 16px;
  }
}
/* footer style */
.footerContainer {
  background: #f7f7f7;
  border-bottom: 1px solid #ddd;
  margin-top: 2rem;
  position: relative;
  z-index: 3;
}
.FooterBox1 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 8px;
  border-bottom: 1px solid #d5d4d4;
}
.FooterSection {
  padding-block: 48px;
  .title {
    font-weight: 600;
    font-size: 1rem;
    color: #222;
    margin-bottom: 12px;
  }
  .ul {
    list-style: none;
    display: grid;
    gap: 12px;
    padding: 0;
    margin: 0;
    li {
      margin: 5px 0px !important;
    }
  }
}
.FooterBox2 {
  padding: 24px 0px;
  .div1 {
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: row;
  }
}
.LanguageBox {
  display: flex;
  align-items: center;
}
.socialmediaUl {
  list-style: none;
  display: flex;
  .li1 {
    margin-right: 16px;
  }
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .searchBox {
    padding: 0 10px;
  }
  .topNavContainer {
    display: none;
  }
  .searchIcon {
    margin: 4px 0 4px 0px;
  }
  .topSmallNavContainer {
    display: flex !important;
  }
  .FooterBox1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    .div1 {
      flex-direction: column !important;
    }
  }
  .FooterBox2 {
    .div1 {
      flex-direction: column-reverse !important;
    }
  }
  .FooterSection {
    padding-block: 14px;
    border-bottom: 1px solid #d5d4d4;
    padding-inline: 24px;
  }
  .copyRightBox {
    padding: 1rem;
  }
}
