.offices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 1rem;
  padding-inline: 0.5rem;
}

.offices_tilte {
  line-height: 1.5;
  font-size: 24px;
  font-weight: 700;
}

.add_office_btn {
  display: inline-flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.75;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: white !important;
  background-color: var(--main-color) !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  border-radius: 12px !important;
  font-weight: 600 !important;
  padding: 12px 24px !important;
  text-align: center;
  height: 48px !important;
  pointer-events: unset;
  min-width: 186px !important;

  .img1 {
    margin-left: 8px;
    margin-right: -4px;
  }
}
[lang="en"] .add_office_btn .img1 {
  margin-right: 8px;
  margin-left: -4px;
}

.office_option_list {
  border-radius: 12px !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px;
  position: absolute;
  overflow: hidden auto;
  min-width: 16px;
  min-height: 16px;
  max-width: calc(100% - 32px);
  max-height: calc(100% - 32px);
  outline: 0px;
  border: 1px solid rgb(226, 226, 226);
  width: 223px;
  top: 193px;
  left: 41px;
  z-index: 1;

  .ul1 {
    list-style: none;
    margin: 0px;
    padding: 8px 0px;
    position: relative;
    outline: 0px;

    .li1 {
      background-color: transparent;
      outline: 0px;
      border-width: 0px 0px 1px;
      border-style: none none solid;
      border-color: currentcolor currentcolor rgba(0, 0, 0, 0.12);
      border-image: none;
      margin: 0px;
      border-radius: 0px;
      cursor: pointer;
      user-select: none;
      vertical-align: middle;
      appearance: none;
      color: inherit;
      font-size: 1rem;
      line-height: 1.5;
      display: flex;
      -moz-box-pack: start;
      justify-content: flex-start;
      -moz-box-align: center;
      align-items: center;
      position: relative;
      text-decoration: none;
      min-height: 48px;
      box-sizing: border-box;
      white-space: nowrap;
      background-clip: padding-box;
      padding: 24px 16px;
      font-weight: 500;
    }

    li:last-child {
      border: none;
      /* Remove the border */
    }
  }
}
.custom-box {
  padding: 40px;
  background: rgb(255, 255, 255);
  max-width: 570px;
  width: 80vw;
  border-radius: 16px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.custom-box2 {
  padding: 40px;
  background: #fbf8f8;
  max-width: 700px;
  width: 80vw;
  border-radius: 16px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  .d-flex {
    display: flex;
    align-items: center;
  }
  .choose_unit {
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
  }
  .paper_unit_style {
    height: 100px;
    border-radius: 20px;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .unit_title {
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
}
.complete_p {
  margin: 0;
  margin-block: 1rem 2rem;
  padding: 20px;
  background-color: rgb(239, 239, 239);
  border: 1px solid rgba(112, 112, 112, 0.247);
  border-radius: 12px;
  font-weight: 500;
  font-size: 18px;
}
.BoxReal {
  margin-block-start: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
.custom-button-yes {
  min-width: 64px !important;
  color: rgb(255, 255, 255) !important;
  background-color: var(--green-color) !important;
  border-radius: 12px !important;
  font-weight: 600 !important;
  padding: 12px 24px !important;
  text-align: center !important;
  height: 48px !important;
  pointer-events: unset !important;
  width: 224px !important;
}

.custom-button-yes:hover {
  color: rgb(255, 255, 255) !important;
  background-color: var(--green-color) !important;
}
.custom-button-cancel {
  min-width: 64px !important;
  color: var(--main-color) !important;
  background-color: white !important;
  border-radius: 12px !important;
  border: 1px solid var(--main-color) !important;
  font-weight: 600 !important;
  padding: 12px 24px !important;
  text-align: center !important;
  height: 48px !important;
  pointer-events: unset !important;
  width: 224px !important;
}
.custom-button-cancel:hover {
  color: white !important;
  background-color: var(--main-color);
}
.outGoingclass {
  overflow-y: auto;
  margin-block-start: 32px;
  border-radius: 12px;
  display: grid;
  gap: 24px;
  align-items: start;
  height: calc(100% - 20px);
  position: relative;
}
.custom-flex-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.custom-flex-container2 {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.custom-grid-container1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
  gap: 1rem 16px;
  margin-block-start: 0.5rem;
}
.deleteicon {
  color: red;
  margin-left: 3px;
  font-size: 2rem !important;
  cursor: pointer;
}
.staricon {
  color: black;
  margin-left: 3px;
  font-size: 2rem !important;
}
.custom-flex-container-space {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}
.eitBtn {
  color: var(--green-color);
  font-weight: 600 !important;
  cursor: pointer;
}
.map-image-container {
  width: 60%;
  height: 197px;
  border-radius: 12px;
  overflow: hidden;
  margin-inline-start: auto;
  position: relative;
}
.custom-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.custom-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.custom-badge {
  background-color: var(--main-color);
  padding: 4px;
  border-radius: 2px;
  color: white;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}
.custom-update-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 14px;
  padding: 2px 16px;
  pointer-events: auto;
  opacity: 1;
}
.custom-disabled-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 14px;
  padding: 2px 16px;
  pointer-events: none;
  opacity: 0.5;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .BoxStyle {
    padding: 0rem 1rem !important;
  }
}
