@import url(https://fonts.googleapis.com/css?family=Tajawal:200,300,regular,500,700,800,900);

:root {
  font-family: "Tajawal", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --main-color: #c20000;
  --green-color: rgb(21, 185, 133);
  direction: rtl;
  text-align: right;
}

* {
  transition: all 0.2s ease-in-out;
}

/* body {
  overflow: hidden;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-vertical-rl {
    writing-mode: vertical-rl;
  }

  .dashCard {
    border: 1px solid #d6d6d6;
    border-radius: 12px;
    padding: 16px 32px;
  }
}

/* App.css */
/* :lang(ar) {
  direction: rtl;
}

:lang(en) {
  direction: ltr;
} */

.button {
  overflow: hidden;
  outline: none;
  position: relative;
  cursor: pointer;
}

/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 3px;
  /* Width of the scrollbar */
  height: 3px;
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #ece9ff;
  /* Background color of the thumb */
  border-radius: 5px;
  /* Rounded corners of the thumb */
}

/* Customize the scrollbar track when it's hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #b8a6c9;
  /* Background color on hover */
}

/* Customize the scrollbar corner (between vertical and horizontal scrollbars) */
::-webkit-scrollbar-corner {
  background-color: transparent;
  /* Background color of the corner */
}
